<h1>Help</h1>
<ul>
<li><a href="#Navigation">Navigation</a></li>
<li><a href="#Create%20entry">Create entry</a></li>
<li><a href="#Options">Options</a><ul>
<li><a href="#Change%20timezone">Change timezone</a></li>
<li><a href="#Issue%20QR%20code">Issue QR code</a></li>
<li><a href="#Delete%20diary%20entirely">Delete diary entirely</a></li></ul></li>
<li><a href="#Help">Help</a></li>
<li><a href="#Log%20out">Log out</a></li>
</ul>
<h2><span id="Navigation">Navigation</span></h2>
<p>⬇️ The arrow button is a link to the next diary entry down from wherever you are.</p>
<p>🍔 The menu has four options: Create entry, Options, Help, and Log out.</p>
<h2><span id="Create entry">Create entry</span></h2>
<p>Make a new post by selecting "Create entry" from the menu. You can learn about the markdown your diary uses <a href="http://demo.showdownjs.com/">here</a> (I have enabled emojis, underlining, and tables).</p>
<p>After you have created an entry, you can update it or delete it by selecting the title, then whichever option you want to perform.</p>
<h2><span id="Options">Options</span></h2>
<p>There are three settings available: Change timezone, Issue QR code, and Delete diary entirely.</p>
<h3><span id="Change timezone">Change timezone</span></h3>
<p>If you travel you can change the timezone here. There are a lot, so you can narrow them down by typing in a search string. The default is Brisbane time.</p>
<h3><span id="Issue QR code">Issue QR code</span></h3>
<p>If you lose your login code or you want to force every other device to logout, you can create a new code here. Remember to make a copy!</p>
<h3><span id="Delete diary entirely">Delete diary entirely</span></h3>
<p>If you want a fresh start, you can delete everything here. To make sure you can't do it accidentally, you have to type your name to complete this action.</p>
<h2><span id="Help">Help</span></h2>
<p>Shows this text 😂</p>
<h2><span id="Log out">Log out</span></h2>
<p>Clears your session. You'll have to use the QR code to log back in.</p>
